spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT:3306}/boterview?useSSL=true&serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

server:
  servlet:
    session:
      cookie:
        secure: true

logging:
  level:
    root: WARN
    com.boterview: INFO
