spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT:3306}/boterview?useSSL=true&serverTimezone=Asia/Seoul
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}

  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        from: ${MAIL_FROM:noreply@boterview.com}

server:
  servlet:
    session:
      cookie:
        secure: true

logging:
  level:
    root: WARN
    com.boterview: INFO
